<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470008337237-78e1co7i11dg5skkso1k6o1gvad7idv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470008337237-78e1co7i11dg5skkso1k6o1gvad7idv3</string>
	<key>API_KEY</key>
	<string>AIzaSyA5RFpyGiI6ZoNO7yoPEpbaya9ZiLbpdqg</string>
	<key>GCM_SENDER_ID</key>
	<string>470008337237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.k.a.caloriecheck3</string>
	<key>PROJECT_ID</key>
	<string>caloriecheck-dc3af</string>
	<key>STORAGE_BUCKET</key>
	<string>caloriecheck-dc3af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470008337237:ios:cf3480cd0aac64d0a7d5dc</string>
</dict>
</plist>